<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASM31.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <ASM31.Properties.Settings>
            <setting name="gamePath" serializeAs="String">
                <value>D:\AionRun47\AC-Game</value>
            </setting>
            <setting name="loginPath" serializeAs="String">
                <value>D:\AionRun47\AC-Login</value>
            </setting>
            <setting name="chatPath" serializeAs="String">
                <value>D:\AionRun47\AC-Chat</value>
            </setting>
            <setting name="webHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="webPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="runMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="argsChatMode1" serializeAs="String">
                <value>-Xms128m -Xmx128m -Xdebug -Xrunjdwp:transport=dt_socket,address=8997,server=y,suspend=n -ea -cp ./libs/*;ac-chat.jar com.aionemu.chatserver.ChatServer</value>
            </setting>
            <setting name="argsChatMode2" serializeAs="String">
                <value>-Xms64m -Xmx64m -server -cp ./libs/*;ac-chat.jar com.aionemu.chatserver.ChatServer</value>
            </setting>
            <setting name="argsLoginMode1" serializeAs="String">
                <value>-Xms32m -Xmx32m -Xdebug -Xrunjdwp:transport=dt_socket,address=8999,server=y,suspend=n -ea -cp ./libs/*;ac-login.jar com.aionemu.loginserver.LoginServer</value>
            </setting>
            <setting name="argsLoginMode2" serializeAs="String">
                <value>-Xms64m -Xmx64m -server -cp ./libs/*;ac-login.jar com.aionemu.loginserver.LoginServer</value>
            </setting>
            <setting name="argsGameMode1" serializeAs="String">
                <value>-Xms512m -Xmx%MEMSIZE%m -XX:-UseSplitVerifier -XX:+TieredCompilation -Xdebug -Xrunjdwp:transport=dt_socket,address=8998,server=y,suspend=n -ea -javaagent:./libs/ac-commons-1.3.jar -cp ./libs/*;AC-Game.jar com.aionemu.gameserver.GameServer</value>
            </setting>
            <setting name="argsGameMode2" serializeAs="String">
                <value>-Xms512m -Xmx%MEMSIZE%m -XX:-UseSplitVerifier -XX:+TieredCompilation  -server -ea -javaagent:./libs/ac-commons-1.3.jar -cp ./libs/*;AC-Game.jar com.aionemu.gameserver.GameServer</value>
            </setting>
            <setting name="gameMemSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="serverBase" serializeAs="String">
                <value>D:\AionRun47</value>
            </setting>
            <setting name="javaHome" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>3.2.0</value>
            </setting>
            <setting name="maxToll" serializeAs="String">
                <value>1000000</value>
            </setting>
        </ASM31.Properties.Settings>
    </userSettings>
</configuration>