<config>
    <jars>
        <jar in="${build}/AC-Game_clean.jar" out="${build}/AC-Game.jar"/>
    </jars>
    <classpath>
		<jar name="${lib}/*.jar"/>
    </classpath>
    <keep-names>
		<class access="private+">
			<field access="private+"/>
			<method access="private+"/>
		</class>
    </keep-names>
	<property name="classes-naming" value="keep-$-sign"/>
	<property name="unique-renaming" value="disable"/>
	<property name="local-variables-naming" value="single-name"/>
	<property name="methods-naming" value="keywords"/>
	<property name="fields-naming" value="keywords"/>
	<property name="string-encryption" value="maximum"/>
	<property name="string-encryption-type" value="strong"/>
	<property name="control-flow-obfuscation" value="enable"/>
	<property name="extensive-flow-obfuscation" value="maximum"/>
	<property name="line-numbers" value="obfuscate"/>
	<property name="member-reorder" value="enable"/>
    <property name="synthetize-methods" value="private"/>
    <property name="synthetize-methods" value="package"/>
	<property name="synthetize-fields" value="private"/>
	<property name="synthetize-fields" value="package"/>
</config>